<!doctype html>
<html>
  <head>
    <title>ACP Brevet Times Consumer Program</title>
  </head>
  <body>
    <p>Click following button to display the submitted specified information (ACP brevet times) with in specified format(json or csv)</p>
    <p>Input the number of brevet times instance that you want to see from top into the space in front of corresponding button (optional, default display all instance)</p>
    <form action='/listAJ' method='POST'>
      <input name='top' type='text' placeholder="Optional top number" size="20"/>
      <button>List all times (json)</button>
    </form>
    <form action='/listOJ' method='POST'>
      <input name='top' type='text' placeholder="Optional top number" size="20"/>
      <button>List open times (json)</button>
    </form>
    <form action='/listCJ' method='POST'>
      <input name='top' type='text' placeholder="Optional top number" size="20"/>
      <button>List close times (json)</button>
    </form>
    <form action='/listAC' method='POST'>
      <input name='top' type='text' placeholder="Optional top number" size="20"/>
      <button>List all times (csv)</button>
    </form>
    <form action='/listOC' method='POST'>
      <input name='top' type='text' placeholder="Optional top number" size="20"/>
      <button>List open times (csv)</button>
    </form>
    <form action='/listCC' method='POST'>
      <input name='top' type='text' placeholder="Optional top number" size="20"/>
      <button>List close times (csv)</button>
    </form>
  </body>
</html>
