<!doctype html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <p>Welcome to the user interface.</p>
    <p>Click below three button to register, login or logout.</p>
    <p>If you already login, click last button entry display page.</p>
    <form action='/register' method='POST'>
	<button>Register</button>
    </form>
    <form action='/login' method='POST'>
        <button>Login</button>
    </form>
    <form action='/logout'>
        <button>Logout</button>
    </form>
    <form action='/index'>
        <button>Already login? Click here!</button>
    </form>
  </body>
</html>
